{% extends 'base.html' %} {% block content %}
<!--breadcrumbs start-->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          About
        </h1>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
  <div class="row mar-b-50">
    <div class="col-lg-5">
      <div class="about-carousel wow fadeInLeft">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <img src="/assets/img/parallax-slider/images/1.jpeg" alt="">
              <div class="carousel-caption">
                <p>
                 Health Care Management System
                </p>
              </div>
            </div>
            <div class="item">
              <img src="/assets/img/parallax-slider/images/2.png" alt="">
              <div class="carousel-caption">
                <p>
                 Doctor Quotation Management
                </p>
              </div>
            </div>
            <div class="item">
              <img src="/assets/img/parallax-slider/images/3.jpeg" alt="">
              <div class="carousel-caption">
                <p>
                  Find Doctors Recommendation
                </p>
              </div>
            </div>

          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left">
                </i>
              </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right">
                </i>
              </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 about wow fadeInRight">
      <h3>About Health Website</h3>
      <p>Health care (also health-care or healthcare) is the maintenance or improvement of health via the prevention, diagnosis, treatment, recovery, or cure of disease, illness, injury, and other physical and mental impairments in people. Health care is delivered by health professionals and allied health fields. Medicine, dentistry, pharmacy, midwifery, nursing, optometry, audiology, psychology, occupational therapy, physical therapy, athletic training and other health professions are all part of health care. It includes work done in providing primary care, secondary care, and tertiary care, as well as in public health.</p>
      <p>Access to health care may vary across countries, communities, and individuals, influenced by social and economic conditions as well as health policies. Providing health care services means "the timely use of personal health services to achieve the best possible health outcomes".[2] Factors to consider in terms of healthcare access include financial limitations (such as insurance coverage), geographic barriers (such as additional transportation costs, the possibility to take paid time off of work to use such services), and personal limitations (lack of ability to communicate with healthcare providers, poor health literacy, low income).[3] Limitations to health care services affects negatively the use of medical services, the efficacy of treatments, and overall outcome (well-being, mortality rates).</p>
      <p>Health care systems are organizations established to meet the health needs of targeted populations. According to the World Health Organization (WHO), a well-functioning health care system requires a financing mechanism, a well-trained and adequately paid workforce, reliable information on which to base decisions and policies, and well maintained health facilities to deliver quality medicines and technologies.</p>
    </div>
  </div>

</div>
{% endblock content %}